img{
  position: absolute;
  width: 181px;
  height: 285px;
  left: 47px;
  top: 21px;
background: url(1678285142508.jpg);

}

.cabeçalho{
  position: absolute;
width: 1900px;;
height: 355px;
left: 3px;
top: 0px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border:solid #000000;
}


.contato{
position: absolute;
width: 30px;
height: 739px;
left:1094px;
top: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 800;
font-size: 64px;
line-height: 77px;

color: #000000;

border: 0px solid #FF0000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.jv{
  position: absolute;
width: 375px;
height: 70px;
left:1020px;
top: 116px;

font-family: 'Inter';
font-style: italic;
font-weight: 800;
font-size: 64px;
line-height: 77px;

color: #000000;

border: 0px solid #DA0000;
}
.numero{position: absolute;
width: 541px;
height: 77px;
left: 843px;
top: 213px;

font-family: 'Inter';
font-style: italic;
font-weight: 800;
font-size: 64px;
line-height: 77px;

color: #000000;

border: 2px solid #FF0505;}
.texto1 {
  position: absolute;
width: 1760px;
height: 808px;
left: 91px;
top: 431px;
font-family: 'Inter';
font-style: italic;
font-weight: 300;
font-size: 26px;
line-height: 74px;
color: black

}
.texto2 h1 {
  position: absolute;
width: 1800px;
height: 344px;
left: 100px;
top: 766px;
font-family: 'Inter';
font-style: italic;
font-weight: 800;
font-size: 50px;
line-height: 68px;
color: #000000;

}
